<header class="site-header">
  <div class="wrapper">
    <a href="{{ site.baseurl }}/" class="no_style_link">
      <div id="rotating-header">
        <h1>Cody's
          <span
            class="txt-rotate"
            data-period="1000"
            data-rotate='[ "read books.", "watched films.", "listened to podcasts.", "binged tv shows." ]'></span>
        </h1>
      </div>
      <div id="static-header">
        <h1>Cody's Collection</h1>
      </div>
    </a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" id="books-link" href="{{ "/books" | prepend: site.baseurl }}">Books</a>
        <a class="page-link" id="films-link" href="{{ "/films" | prepend: site.baseurl }}">Films</a>
        <a class="page-link" id="podcasts-link" href="{{ "/podcasts" | prepend: site.baseurl }}">Podcasts</a>
        <a class="page-link" id="shows-link" href="{{ "/shows" | prepend: site.baseurl }}">TV Shows</a>
      </div>
    </nav>
  </div>
</header>
