---
---
@charset 'utf-8';

// Our variables
$base-font-family:    'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:      16px;
$large-font-size:     18px;
$base-font-weight:    400;
$year-link-font-size: $base-font-size * 1.5;
$small-font-size:     $base-font-size * .875;
$phone-font-size:     $base-font-size * .75;
$base-line-height:    1.5;

$spacing-unit:     30px;

$text-color:       #111;
$link-color:       #20437c;
$background-color: #fdfdfd;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        900px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Reset some basic elements
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    @include media-query($on-palm) {
        -webkit-overflow-scrolling: touch;
    }
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    @include media-query($on-palm) {
        font-size: $phone-font-size;
    }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
 
.rating_images {
    height: 1em;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: $link-color;
    }

    &:hover {
        color: $link-color;
        text-decoration: underline;
    }

    .social-media-list a:hover {
        text-decoration: none;
    }

    .social-media-list a:hover .username {
      text-decoration: underline;
    }
}

.year-link {
  font-size: $year-link-font-size;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: $large-font-size;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: $base-font-size;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
    @include media-query($on-palm) {
        font-size: $phone-font-size;
    }
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Tables
 */
table {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    color: $grey-color;
    border-collapse: collapse;
    border: 1px solid #e8e8e8;
    tr {
        &:nth-child(even) {
            background-color: $grey-color;
        }
    }
    th {
        padding: 10px 15px;
        background-color: $background-color;
        border: 1px solid #dedede;
        border-bottom-color: $background-color;
    }
    td {
        padding: 10px 15px;
        border: 1px solid #e8e8e8;
    }
}


.site-header {
    border-bottom: 1px solid $grey-color-light;
    border-top: 5px solid $grey-color-dark;

    // Positioning context for the mobile navigation icon
    position: relative;
}

#rotating-header {
    display: block;
    @include media-query($on-palm) {
        display: none;
    }
}

#static-header {
    display: none;
    font-size: $base-font-size;
    text-align: center;
    @include media-query($on-palm) {
        display: block;
    }
}

.site-nav {
    float: right;
    line-height: 1em;

    .page-link {
        color: #ddd;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        @include media-query($on-palm) {
            font-size: $small-font-size;
        }
    }

    @include media-query($on-palm) {
        line-height: 0px;
        text-align: center;
        float: none;
    }
}

.no_style_link {
    color: inherit;
    text-decoration: none;
}
.no_style_link:hover {
    color: inherit;
    text-decoration: none;
}
.no_style_link:visited {
    color: inherit;
    text-decoration: none;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    flex-shrink: 0;

    @include media-query($on-palm) {
        line-height: 0px;
        text-align: center;
        float: none;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    flex: 1 0 auto;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.a24_color {
    color: #8c080f;
}

.ppp_color {
    color: #088c7f;
}

.lvt_color {
    color: #518c08;
}

.qt_color {
    color: #debb30;
}

.cd_color {
    color: #ffcba4;
}

.sk_color {
    color: #c71b27;
}

.bjh_color {
    color: #7b84fc;
}

.gn_color {
    color: #83f45c;
}

.thumbWidth {
  width: 60px;
}

.logoSizing {
  width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: $large-font-size;
    }
  }
}

.error {
  text-align: center;

  h1 {
    font-size: 200px;
  }
}

//lists
.list-header {
  margin-bottom: $spacing-unit;
}

.list-title {
  font-size: 30px;
  line-height: 1;
}

.list-content {
  margin-bottom: $spacing-unit;
  line-height: 16px;
  font-family: monospace;
  letter-spacing: -.5px;

  h2 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
  }
}

.line_break {
    border: .5px solid black;
    width: 50%;
    margin: 0 auto 10px auto;
}

//quotes
.quotes-div {
  margin-top: 25px;
}

.quote-data {
  text-align: right;
  margin-top: -10px;
  font-size: $large-font-size;
}

.quote-subject {
  font-style: italic;
}

.quote-author {
  font-weight: bold;
}

.quote-content {
  margin-top: 40px;
  text-indent: 10px;
  text-align: justify;
}

//year lists
.year-list ul {
  list-style-type: circle;
}

.social-media-list li + li {
  padding-top: 5px;
}


.svg-icon {
  display: inline-block;
  width: 19px;
  height: 17px;
  vertical-align: middle;
}


.site-header,.html,.body {
  font-family: 'Raleway', sans-serif;
  padding: 1em 2em;
  font-size: $large-font-size;
  background: #222;
  color: #aaa
}

#expandable-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  width: 100%;
  padding: 1% 1% 1% 1%;
  text-align: center;
  background-color: $grey-color-light;
  box-shadow: inset 0 0 7px 5px #ddd;
  border-radius: 5px;
  line-height: $base-font-size;
  font-family: monospace;
  -webkit-transition: 2s;
  transition: 2s;
}

abbr {
  text-decoration: none;
}