---
layout: default
---
<article class="list">
    <header class="list-header">
        <span class="list-title">{{ page.title }}</span>
        <span id="filter-button" onclick="filterButton();"><img src="https://img.icons8.com/cotton/64/000000/filter--v2.png" height="30px"></span>
        <div id="" class="filter-dropdown expandable-box">
            <span>Favorable</span>
            <span>Average</span>
            <span>Unfavorable</span>
        </div>
    </header>
    <div class="expandable-box">
        <span style="white-space:nowrap;">{{ site.one }} Awful </span>
        <span style="white-space:nowrap;">{{ site.two }} Mediocre </span>
        <span style="white-space:nowrap;">{{ site.three }} Good </span>
        <span style="white-space:nowrap;">{{ site.four }} Excellent </span>
        <span style="white-space:nowrap;">{{ site.five }} G.O.A.T. </span>
    </div>
    <div class="list-content">
        {{ content }}
    </div>
</article>
